@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


.products{
    display: flex;
    flex-direction: row;
    padding-top: 5em;
    padding-left: 5em;
    flex-wrap: wrap;
    width: 100;
}

.banner {
    padding: 6em 0 8em 0;
    text-align: center;
  width: 100%;
  height: 60em;
  background-image: url(./banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Footer */



* {
  font-family: Open Sans;
}


.footer-distributed{
	background: rgba(164, 143, 143, 1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color: white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  white;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.container
{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product
{
	width: 90%;
	max-width: 750px;
	display: flex;
}

.image
{
	flex-basis: 47%;
	background: #241e20;
}

.image img
{
	width:100%;
	display: block;
	padding-top: 100px;
}

.details
{
	flex-basis: 53%;
	background: #fff;
	padding: 40px;
	padding-left: 60px;

}

.details form
{
	font-size: 15px;
	font-weight: 400;

}

.size-select
{
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.size-select p
{
	width:70px;

}

.size-select input:checked + span
{
	color: blue;
	font-weight: 600;
}

.size-select input
{
	display: none;
}

.size-select span
{
	padding: 5px;
	margin-right: 10px;
	cursor: pointer;
}

.color-select
{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.color-select p
{
	width: 75px;
}

.color-select span
{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 15px;
	cursor: pointer;
}

.color1
{
	background: #0b090c;
}

.color2
{
	background: #20315f;
}

.color3
{
	background: #f1af4d;
}

.color4
{
	background: #ed1c24;
}

.color-select input
{
	display: none;
}

.color-select input:checked + span
{
	transform: scale(0.7);
	box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}

.quantity-select
{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.quantity-select p
{
	width:75px;
}

.quantity-select input
{
	background: #eee;
	border: 0;
	outline: 0;
	padding: 2px 2px 2px 15px;
	width: 50px;
	border-radius: 12px;
}

.Submit
{
	background: rgba(232,28,101,0.83);
	color: #fff;
	font-size: 17px;
	width: 100%;
	padding: 10px;
	border-radius: 30px;
	border: 0;
	outline: 0;
	margin-top: 50px;
	box-shadow: 0 10px 10px rgba(85,6,240,0.25);
	cursor: pointer;
}

.wrapper
{
	width:1000px;
	padding:25px;
	margin: 25px auto;
	box-shadow: 0px 0px 20px;
}

.wrapper h1
{
	text-align: center;
	border: 1px dotted;
	padding: 20px;
}

.wrapper h4
{
	padding: 10px;
}

.input-group
{
	margin-bottom: 8px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}

.input-box
{
	width: 100%;
	position: relative;
	margin-right: 12px;
}

.input-box :last-child
{
	margin-right: 0;
}

.name
{
	padding: 14px 10px 14px 50px;
	width: 100%;
	margin: 10px;
	border:1px solid;
	outline: none;
	letter-spacing: 1px;
	transition: 0.3s;
	border-radius: 3px;
}

.name:focus, .dob:focus
{
	-webkit-box-shadow: 0 0 2px 1px rgba(232,28,101,0.83);
	-moz-box-shadow:0 0 2px 1px rgba(232,28,101,0.83);
	border:1px solid rgba(232,28,101,0.83) ;
	box-shadow: 0 0 2px rgba(232,28,101,0.83);
}

.radio
{
	display: none;
}

.input-box label
{
	width: 50%;
	padding: 13px;
	display: inline block;
}

.radio:checked + label
{
	background-color: rgba(232,28,101,0.83);
	color:#fff;
}

.wrapper button
{
	width: 100%;
	padding: 15px;
	background: rgba(232,28,101,0.83);	
	color:#fff;
	border-radius: 4px;
}